body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #101010;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.screen {
    width: 360px;
    height: 640px;
    background: whitesmoke;
}

.loptica {
    background: red;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
}

.hello-kitty {
    color: green;
}