<div class="displayed-row">
    <img src="./assets/images/icons/ci_hamburger.svg" class="navbar-toogler">
</div>
<div class="navbar">
    <a screen="home" href="#" class="navbar-item">
        <img src="./assets/images/icons/home.svg" alt=""/>
        Home
    </a>
    <a screen="account-settings" href="#" class="navbar-item">
        <img src="./assets/images/icons/account_settings.svg" alt=""/>
        Account Settings
    <a screen="calendar" href="#" class="navbar-item">
        <img src="./assets/images/icons/calendar.svg" alt=""/>
        Calendar
    </a>
</div>