:root {
    --var-resolution-width: 360px;
    --var-resolution-height: 640px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #101010;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.screen {
    width: var(--base-width);
    height: var(--base-height);
    background: whitesmoke;
}

.loptica {
    background: red;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
}

.hello-kitty {
    color: green;
}
