body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: grey;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.screen {
    width: var(--dimension-width);
    height: var(--dimension-height);
    background: var(--color-black);
}
