
.component-header {
    width: 100%;
    background: var(--color-grey-yellow);
}

.component-header > .row {
    display: flex;
    flex-flow: row;
    width: 100%;

    min-height: 48px;
    max-height: 48px;
    height: 48px;
}

.component-header > .row > .toggler {
    width: 27px;
    height: auto;
    margin-left: auto;
    margin-right: 20px;
}

.component-header > .navbar {
    height: calc(var(--dimension-height) - 48px);
    width: 100%;
    
    display: none;

#home-screen {
    background: var(--color-black);   
}

.component-header {
    width: 100%;
    background: var(--color-lemon);
}

.component-header > .displayed-row {
    display: flex;
    flex-flow: row;
    height: 48px;
}

.component-header > .displayed-row > .navbar-toogler {
    margin: auto;
    margin-left: auto;
    margin-right: 15px;
    height: 32px;
    width: auto;
}

.component-header > .navbar {
    display: none;
    min-height: calc(var(--base-height) - 48px);
    padding: 50px 20px 0;
}

.component-header > .navbar.collapsed {
    display: block;
}

.component-header > .navbar > .navbar-item {
    display: flex;
    text-decoration: none;
    color: var(--color-black);
    font-size: 24px;
    font-weight: 800;
    margin: 8px 0;
    align-items: end;
}

.component-header > .navbar > .navbar-item img {
    margin-right: 20px;
}