.tijelo{
    height: 640px;
    width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F3E9E9;
}

.header{
    height: 57px;
    background-color: #F2FC83;
    display: flex;
}

.ploca{
    display: flex;
    justify-content: center;
    align-items: center;
}

.crna{
    height: 40px;
    width: 40px;
    background-color: #C4C4C4;
}
.bijela{
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
}

.platno{
    margin-top: 16px;
}

.tool-bar{
    height: 222px;
    background-color: #F2FC83;
    margin-top: 24px;
}
.back-button
{
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 9px;
}
.name{
    margin-left: 65px;
    font-size: 18px;
    margin-top: 17px;
}
.hamburger{
    margin-left: 75px;
    margin-top: 8px;
}

.tools{
  margin-left: 20px;
  padding-top: 24px;
  display: flex;
  height: 40px;
}

.tool-bar > .tools > img {
    margin: 0 auto;
}