<div class="row">
    <span class="date">20 OCTOBER</span>
    <button> ADD </button>
</div>
<div class="items">
    
    <div class="item done">
        <div class="time">
            07 <span class="minutes">30</span>
        </div>
        <div class="activity">Wake up</div>
    </div>
    
    <div class="item missed">
        <div class="time">
            07 <span class="minutes">30</span>
        </div>
        <div class="activity">Wake up</div>
    </div>

    <div class="item">
        <div class="time">
            07 <span class="minutes">30</span>
        </div>
        <div class="activity">Wake up</div>
    </div>
</div>